* {
  box-sizing: border-box;
}

html {
  background: #ff5c5c;
}

body {
  background:#ffe9e9;
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.header {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .5em;	
  background-color: #fff;
	border-radius: 0;
}

.group {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  margin: 0;  
  padding: 20px 0;
}

.item {
  margin: 20px 0 0;
}


/* ------------ Navigation ------------*/

.main-nav {
	margin-top: 5px;
  display: flex;
  padding: 0 40px;
}

#nav-btn {
  display: block;
  position: fixed;
  float: left;
  color: black;
  font-size: 42px;
  cursor: pointer;
  z-index: 2;
  opacity: .9;
  top: 5px;
  left: 15px;
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #000;
  font-size: .99em;
  font-weight: bold;
}

.main-nav a:hover {
  color: #e44959;
  text-decoration: underline;
  transform: scale(1.05);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .95;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: left;
  z-index: 2;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #e44959;
  display: block;
  transition: 0.3s;
  margin-bottom: 15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.fa-bars {
  background: #646464;
  color: #fff;
  font-weight: 900;
  height: 70px;
  width: 70px;
  padding: 20px;
  border-radius: 50%;
}

.logo-container {
  background: white;
  position: absolute;
  opacity: .9;
  width: 100%;
  bottom: 10px;
  padding: 10px;
  left: 0;
  z-index: 1;
}

/* ------------ Text Styling ------------*/

.mt-0 {
  margin-top: 0;
} 

.mt-5 {
  margin-top: 10px;
}

.mt-10 {
  margin-top: 30px
}

.p-container {
  margin-top: 15px;
  padding: 0 15px;
  max-width: 600px;
}

h1,h2,h3, .banner-btn {
  color: #d84338d1;
  font-family: 'Lilita One', cursive;
}

h1 {
  font-size: 36px;
  margin: 0 25px;
}

h2 {
  font-size: 30px;
  margin: 0;
}

h3 {
  font-size: 30px;
  margin: 0;
}

.profile-name {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: normal;
  background: white;
  padding: 5px 20px;
}

.profile-link {
  color: #000;
  font-size: 20px;
  background: white;
  padding: 5px 20px;
}

.profile-text {
  font-size: 20px;
  padding: 10px;
}

p {
  line-height: 1.3;
  margin: 10px auto;
}

.text-container {
  margin: auto;
  max-width: 600px;
  padding: 0 10px;
}

.text-container p {
  padding: 0 20px;
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.fa-heart {
  color: #e44959;
  font-size: 42px;
}

/* ------------ Video Styling ------------*/

.init-content-bg {
  background: url(media/dog-vid-bg.mp4);
  background-size: cover;
  padding: 35px;
  text-align: center;
}

#player {
  max-width: 800px;
  width: 100vw;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.video-container {
  background: #000000ba;
  position: relative;
  height: 100%;
  margin: auto;
}

#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  max-height: 600px;
  max-width: 600px;
  width: 100%;
}

.content {
  position: absolute;
  bottom: 0;
  color: #f1f1f1;
  opacity: .9;
  width: 100%;
}

/* ------------ Video Styling ------------*/

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

button:hover, #more-results:hover, .banner-btn:hover {
  background: #ff8585;
  color: white;
  cursor: pointer;
  opacity: .8;
  transform: scale(1.05);
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#results {
  text-align: center;
}

.results-list {
  justify-content: center;
  margin-top: 0;
  padding: 0 25px 0;
}

.results-img {
  border: 5px solid #ffaeae;
  border-radius: 10px 10px 0 0;
  margin: 20px auto;
  max-width: 375px;
}

.mr-5 {
  margin-right: 5px;
}

.img-profile {
  border: 4px solid #fff;
  border-radius: 10px;
  background:#FF7676;
  color: #000;
  padding: 15px 0 5px;
  position: relative;
  bottom: 50px;
  margin: auto;
  max-width: 400px;
}

#results-list a {
  color: #000;
}

.fa-paw-profile {
  font-size: 26px;
  margin-bottom: 12px;
}

li {
  list-style-type: none;
}

span {
  display: block;
  margin-top: 5px;
}

a i {
  margin-left: 5px;
}

.search-sub {
  font-size: 18px;
}

.error-message {
    color: red;
}

.hidden {
  display: none;
}


/* ------------ Inputs ------------ */

label, a, .item {
  display: block;
}

label {
  font-size: 22px;
  margin-bottom: 7px;
}

.hidden input {
  display: none;
}

input[type="submit"] {
  font-size: 22px;
  padding: 8px 16px;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  opacity: 0.9;
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: .7;
  transform: scale(1.1);
}

input[type="text"], input[type="number"] {
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 9px 10px;
  width: 100px;
}

/* ------------ Article Styling ------------*/

.banner-container {
  margin-bottom: 20px;
}

#featured-banner {
  height: auto;
  margin-top: 30px;
  max-width: 500px;
}

.banner-img{
  border-radius: 10px 10px 0 0;
  height: 250px;
  max-width: 400px;
  width: 100%;
}

.cover-img{
  border-radius: 10px 10px 0 0;
  max-width: 500px;
  width: 100%;
}

.banner-btn {
  background: #fff;
  border: 2px solid #e44959;
  border-radius: 15px;
  color: #d84338d1;
  font-size: 26px;
  padding: 15px 25px;
  margin: 20px auto;
  max-width: 275px;
  width: 65%;
}

.article-result {
  background: #ff8585;
  border-radius: 10px;
  margin: 0 auto 50px;
  padding: 0 0 20px;
}

.article-heading{
  background: #fff;
  padding: 1px 10px;
}

.article-logo{
  font-size: 32px;
  padding: 10px 0;
}

.article-heading h4{
  font-size: 24px;
  margin: 10px 0;
}

.article-text{
  line-height: 1.3;
  padding: 5px 15px 15px;
}

.article-image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.article-url {
  background: white;
  color: black;
  padding: 7px 0;
}

.feature-img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.shelter-img {
  border-radius: 10px 10px 0 0;
  margin-top: 50px;
  max-width: 400px;
}

#logo-banner {
  border-radius: 10px 10px 0 0;
  opacity: .9;
  max-height: 200px;
  width: 300px;
}

#more-results {
  background: #fff;
  border: 2px solid #e44959;
  border-radius: 10px;
  color: #e44959;
  font-size: 24px;
  margin: 15px auto 40px;  
  padding: 10px 15px;
}

.container-styled {
  background: #ff8585;
  border-radius: 10px;
  padding: 0 0 5px;
  margin: auto;
  max-width: 500px;
  width: 90%;
}

.feature-heading {
  background: #fff;
  font-size: 24px;
  letter-spacing: 2.2px;
  padding: 8px;
}

#news-list {
  margin: 0;
  padding: 0;
}

#news-results {
  padding: 25px;
}

/* -------------- Footer -------------- */

.footer-distributed {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 20px;
  position: relative;
  margin-top: 50px;
}

#footer-logo {
  display: none;
  position: absolute;
  right: 20px;  
}

.footer-distributed .footer-left p {
  color: #000;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-size: 20px;
  left: 0;
  color: #000;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 20px;
  color: #e44959;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

@media (min-width: 800px) {

  .header {
    display: flex;
  }

  .container {
    flex: 1;
    margin: 10px 20px;  
    padding: 20px 0;
  }

  .feature-heading {
    font-size: 34px;
  }

  p {
    font-size: 19px;
  }

  #my-sidenav, #nav-btn {
    display: none;
  }

  #footer-logo {
    display: inline-block; 
  }

  .group {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item-results {
    flex: 1;
    margin: auto 20px;
    max-width: 300px;
    width: 250px;
  }
  .results-img {
    width: 250px;
  }
  .text-container, .p-container {
    max-width: 800px;
  }
}

form {
  text-align: center;
  margin: auto;
}

